body {
	font-size: 10pt;
	font-family: arial,sans-serif;
	margin: 0;
}
#pageWrap {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
#menuBar {
	flex: 0 0 auto;
	font-size: 18px;
	font-family: verdana,helvetica;
	color: white;
	display: flex;
	margin: 0px;
  align-items: baseline;
	justify-content: flex-start;
	padding-top: 4px;
  padding-left: 20px;
	border-bottom: 1px solid DimGrey;
  background-color: SteelBlue;
}
#tabs {
  flex: 0 0 auto;
	font-size: 16px;
	font-family: verdana,helvetica;
	color: white;
	display: flex;
	margin: 0px 0px 0px 40px;
	justify-content: center;
	padding-top: 4px;
  background-color: SteelBlue;
}
#tabs div {
	border: 1px solid DimGrey;
	border-radius: 4px 4px 0 0;
	padding: 4px 8px;
	background-color: LightGrey;
	color: Navy;
	margin-bottom: -1px;
}
#tabs div.active {
	border: 1px solid Black;
	background-color: White;
	font-weight: bold;
	border-bottom-color: transparent;
}
#tabs div a,
#tabs div a:active,
#tabs div a:visited {
	color: Navy;
  text-decoration: none;
}
#contentScroll {
	flex: 1 1 auto;
	overflow: auto;
	margin: 0px;
	background-color: white;
	padding: 0 20px 0 20px;
}
#content {
}
table {
  border: 1px solid grey;
  border-collapse: collapse;
}
tr:nth-child(even) {
  background: #DDD;
}
th {
  background-color: lightSteelBlue;
}
th, td {
  border: 1px solid grey;
  padding: 3px 4px;
}
th.nowrap, td.nowrap {
  white-space: nowrap;
}
th.right, td.right {
  text-align: right;
}
th.vr, td.vr {
  border-right: 3px solid grey;
}